In [9]:
import pandas as pd
import os

datapath = '/allen/programs/braintv/workgroups/nc-ophys/visual_behavior/2021.03.24_new_behavior_ophys_csv_files'

behavior_session_table = pd.read_csv(os.path.join(datapath, 'behavior_session_table.csv'))
ophys_session_table = pd.read_csv(os.path.join(datapath, 'ophys_session_table.csv'))

mouse_id = 445002

this_mouse_table = behavior_session_table.query('mouse_id == @mouse_id').sort_values(by = 'date_of_acquisition')

cols_to_show = [
    'mouse_id',
    'date_of_acquisition',
    'session_type',
    'prior_exposures_to_session_type', 
    'prior_exposures_to_image_set'
]
this_mouse_table[cols_to_show]

,mouse_id,date_of_acquisition,session_type,prior_exposures_to_session_type,prior_exposures_to_image_set
3412,445002,2019-03-15 14:49:24.015,TRAINING_0_gratings_autorewards_15min,0,NaN
3413,445002,2019-03-18 13:44:01.474,TRAINING_1_gratings,0,NaN
3414,445002,2019-03-19 12:50:12.068,TRAINING_1_gratings,1,NaN
3415,445002,2019-03-20 13:16:44.461,TRAINING_1_gratings,2,NaN
3416,445002,2019-03-21 12:54:25.388,TRAINING_2_gratings_flashed,0,NaN
3417,445002,2019-03-22 12:56:37.162,TRAINING_2_gratings_flashed,1,NaN
3418,445002,2019-03-25 13:33:53.275,TRAINING_3_images_A_10uL_reward,0,0.0
3419,445002,2019-03-26 12:43:01.470,TRAINING_3_images_A_10uL_reward,1,1.0
3420,445002,2019-03-27 12:13:04.923,TRAINING_3_images_A_10uL_reward,2,2.0
3421,445002,2019-03-28 12:11:36.413,TRAINING_4_images_A_training,0,3.0
3422,445002,2019-03-29 13:03:16.029,TRAINING_5_images_A_epilogue,0,4.0
3423,445002,2019-04-01 11:59:06.026,TRAINING_5_images_A_handoff_ready,0,5.0
3424,445002,2019-04-02 12:34:16.170,TRAINING_5_images_A_handoff_ready,1,6.0
3425,445002,2019-04-03 12:16:13.522,TRAINING_5_images_A_handoff_ready,2,7.0
3426,445002,2019-04-04 13:13:13.399,OPHYS_0_images_A_habituation,0,8.0
3427,445002,2019-04-05 12:47:32.422,OPHYS_0_images_A_habituation,1,9.0
3428,445002,2019-04-08 13:27:21.095,OPHYS_0_images_A_habituation,2,10.0
3429,445002,2019-04-09 13:26:26.372,OPHYS_1_images_A,0,11.0
3430,445002,2019-04-10 13:34:39.264,OPHYS_2_images_A_passive,0,12.0
3431,445002,2019-04-11 12:31:50.074,OPHYS_3_images_A,0,13.0
3432,445002,2019-04-12 13:30:27.946,OPHYS_4_images_B,0,0.0
3433,445002,2019-04-15 12:20:00.123,OPHYS_5_images_B_passive,0,1.0
3434,445002,2019-04-16 12:24:46.804,OPHYS_6_images_B,0,2.0
3435,445002,2019-04-22 09:01:33.022,OPHYS_5_images_B_passive,1,3.0

In [10]:
this_mouse_ophys_table = ophys_session_table.query('mouse_id == @mouse_id').sort_values(by = 'date_of_acquisition')
this_mouse_ophys_table[cols_to_show]

,mouse_id,date_of_acquisition,session_type,prior_exposures_to_session_type,prior_exposures_to_image_set
521,445002,2019-04-09 17:15:25.000000,OPHYS_1_images_A,0,11.0
522,445002,2019-04-10 16:46:31.000000,OPHYS_2_images_A_passive,0,12.0
523,445002,2019-04-11 18:56:20.000000,OPHYS_3_images_A,0,13.0
524,445002,2019-04-12 19:52:29.000000,OPHYS_4_images_B,0,0.0
525,445002,2019-04-16 18:52:04.000000,OPHYS_6_images_B,0,2.0
526,445002,2019-04-22 14:29:07.000000,OPHYS_5_images_B_passive,1,3.0